<div class="container">
  <h1>Hero Form</h1>
  <form #heroForm="ngForm">
    <div>
      <label for="name">Name</label>
      <input type="text"  id="name"
             required [(ngModel)]="model.name" name="name" #spy="ngModel">
      <div [hidden]="spy.valid || spy.pristine"
           class="alert alert-danger">The name is invalid</div>
    </div>

    <div>
      <label for="alterEgo">Alter Ego</label>
      <input type="text" id="alterEgo"
      [(ngModel)]="model.alterEgo" name="alterEgo">
    </div>
    <div>
      <label for="power">Hero power</label>
      <select id="power" required>
        <option *ngFor="let power of powers" [value]="power">{{power}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
    <button type="button" class="btn btn-default" (click)="newHero();heroForm.reset()">New Hero</button>

  </form>
</div>
{{spy?.className}}
